canvas {
    height: 100px;
    width: 100px;
    margin: 10px;
}

.testCaseDiv {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.testCaseDivFailed {
    border-color: red;
}